.about-app-view {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-app-view-content{
    width: inherit;
    height: inherit;
    text-align: left;
}