.article-page-view {
    max-width: 800px;
    text-align: center;
    padding: 0;
    margin: auto;
}

.article-item-view:hover {
    background-color: #ecf5e1;
}

.article-item-view:hover div {
    color: black;
}

.article-item-view {
    background-color: #f1f5ec;
    text-align: left;
    margin: 0;
    padding: 0;
}
.article-item-view .index{
    max-width: 25px;
    vertical-align: center;
    background-color: bisque;
    margin: 3px;
    padding: 3px;
}
.article-item-view .column{
    margin: 0;
    padding: 0;
}
.article-item-view .columns{
    margin: 0;
    padding: 0;
}

.load-more-button{
    text-align: center;
    padding: 10px;
}
.load-more-button .button{
    margin: 0;
    padding: 10px;
}

.search-button{
    text-align: right;
    padding-top: 0;
}
.search-button .input{
    margin: 0;
    width: 250px;
    height: 30px;
    padding: 0 10px;
}