.pic-home {
    border-color: #00b89c;
    border-style:solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    align-content: flex-start;
}

.pic-home .pic-item{
    order: 1;
    /*flex-grow: 1;*/
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; /*主轴大小*/
    align-self: flex-start;
    position: relative;
}

.pic-home .pic-item-pic{
    padding: 0;
    margin: 0;
}
.pic-home .pic-item-msg{
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    color: white;
    font-weight: bold;
}
