.slide-image-viewer {

}

.slide-image-viewer .slide-image-item {
    position: relative;
}

.slide-image-viewer .slide-image-img {

}

.slide-image-viewer .slide-image-message {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    color: white;
    font-weight: bold;
}

.slide-image-viewer .slick-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.slide-image-viewer .slick-list {
    max-height: 300px;
    max-width: 400px;
}