.home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.home-page .article {
    flex-grow: 0;
    margin: 0;
    padding: 0;
}
.home-page .slider {
    flex-grow: 0;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-page .slider .version{
    background-color: transparent;
}
.home-page .slider .pic {

}

.home-page .slider2 {
    flex-grow: 0;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
