.slide-image-viewer{

}
.slide-image-viewer .slide-image-item{

}

.slide-image-viewer .slide-image-img{

}
.slide-image-viewer .slide-image-message{

}
.slide-image-viewer .slick-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.slide-image-viewer .slick-list{
    max-height: 300px;
    max-width: 400px;
}