.viewer{
    margin: auto;
}
.content-viewer{
    /*min-height: 400px;*/
}
.menu-view{
    text-align: center;
    padding: 15px;
    margin: 5px;
    background-color: #f6f8f3;
    font-size: 15px;
    color: #ecf5e1;
}

.menu-view .menu-logo{
    color: darkseagreen;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}


.menu-item-view{
    font-weight: 9000;
    font-size: 20px;
    color: #f5dc9f;
}

.menu-item-view:hover{
    font-weight: 900;
    font-size: 20px;
    color: #ffc100;
}

.selected{
    font-weight: 900;
    font-size: 20px;
    color: #ffc100;
}