.pic-view{

}

.pic-view .slide-image-message {
    background-color: rgba(62, 61, 61, 0.25);
    left: 10px;
    top: 10px;
    color: white;
    font-weight: bold;
}

.pic-view .slide-image-item {
    position: relative;
}
