.appVersion {
  background-color: transparent;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

.appVersion div{
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer-able{
  cursor: pointer;
}
