.catchword-view{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-basis: 500px;
    gap: 10px;
    color: #ee945b;
}

.catchword-item {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    color: #923a07;
    background-color: #f9fffa;
}

.btn--load-more{
    margin: 10px;
    background-color: #ef7979;
    color: #eed7d7;
}
